<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{.Title}}</title>
    <script type="text/javascript" src="/static/branding/default/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/static/branding/default/js/tiptip.min.js"></script>
    <script type="text/javascript" src="/static/branding/default/js/universal.js"></script>
    <script type="text/javascript" src="/static/branding/default/js/form.js"></script>

    <script type="text/javascript" src="/static/branding/default/js/jquery.simplemodal.1.4.min.js"></script>
    <script type="text/javascript" src="/static/branding/default/js/dashboard.js"></script>
    <script type="text/javascript" src="/static/branding/default/js/jquery.sparkline.js"></script>

    <link href="/static/branding/default/css/universal.css" rel="stylesheet" type="text/css" media="screen" />

    {{range .CSS}}
    <link rel="stylesheet" type="text/css" href="{{.}}" />
    {{end}}

    {{range .JS}}
    <script type="text/javascript" src="{{.}}"></script>
    {{end}}
</head>
<body>
<div id="notices">{{if .Error}}{{str2html .Error}}{{end}}</div>
