<a target="_blank" href="https://www.jeasyui.com/demo/main/index.php?plugin=Window&theme=material&dir=ltr&pitem=&sort=">jeasyui online preview</a>
<h2>Basic DateTimeBox</h2>
<p>Click the calendar image on the right side.</p>
<div style="margin:20px 0;"></div>
<div class="easyui-panel" style="width:100%;max-width:400px;padding:30px 60px;">
    <div style="margin-bottom:20px">
        <input class="easyui-datetimebox" label="Select DateTime:" labelPosition="top" style="width:100%;">
    </div>
    <div style="margin-bottom:20px">
        <input class="easyui-textbox" label="Description:" labelPosition="top" style="width:100%;">
    </div>
</div>

<h2>Basic TreeGrid</h2>
<p>TreeGrid allows you to expand or collapse group rows.</p>
<div style="margin:20px 0;"></div>
<table title="Folder Browser" class="easyui-treegrid" style="width:700px;height:250px"
       data-options="
                url: 'treegrid_data1.json',
                method: 'get',
                rownumbers: true,
                idField: 'id',
                treeField: 'name'
            ">
    <thead>
    <tr>
        <th data-options="field:'name'" width="220">Name</th>
        <th data-options="field:'size'" width="100" align="right">Size</th>
        <th data-options="field:'date'" width="150">Modified Date</th>
    </tr>
    </thead>
</table>

<h2>Basic SwitchButton</h2>
<p>Click the switchbutton to change its state.</p>
<div style="margin:20px 0;"></div>

<table>
    <tr>
        <td style="width:180px">Receive mail:</td>
        <td><input class="easyui-switchbutton" checked></td>
    </tr>
    <tr>
        <td>Shared network:</td>
        <td><input class="easyui-switchbutton" checked></td>
    </tr>
    <tr>
        <td>Subscribed:</td>
        <td><input class="easyui-switchbutton"></td>
    </tr>
</table>